import 

a {
    text-decoration: none;
}

.login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.icon {
    font-size: 9em;
}

input {
    font-size: 14px;
}

.buttons {
    button {
        margin-top: 1em;
    }

    @media (min-width: 406px) {
        button {
            margin-left: 1em;
        }
    }

    @media (max-width: 405px) {
        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}