<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h5>{{ title }}</h5>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3" *ngIf="has_been_returned">
        <h5 class="returned-label">Esta factura ha sido reintegrada.</h5>
    </div>
    <div class="card-body">
        <app-table 
            [headers]="headers" 
            [tableSource]="dataSource" 
            [actions]="actions" 
            [keys]="keys"
        ></app-table>

        <div class="d-flex justify-content-end">
            <a class="btn btn-sm btn-outline-danger mt-2 me-2" *ngIf="!has_been_returned" (click)="openReturningModal()">Devolución</a>
            <a routerLink="/sells/list" class="btn btn-sm btn-outline-primary mt-2">Volver</a>
        </div>
    </div>
</div>

<!-- Modal de devolución -->
<div class="modal fade" id="modalReturning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Devolución</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Seguro desea realizar la devolución de la factura?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="returning()">Confirmar</button>
            </div>
        </div>
    </div>
</div>