/* You can add global styles to this file, and also import other style files */
$font-size: 14px;

body {
    font-size: $font-size;
}

ul.dropdown-menu.show {
    font-size: $font-size;
}

.navbar-light .navbar-toggler {
    font-size: $font-size;
}

.clickeable {
    cursor: pointer;
}

.button {
    padding: 5px 5px 5px 5px;
}

.input-form {
    font-size: .8em;
}

.label-form {
    font-size: .8em;
}

.label-danger {
    font-size: .8em;
    color: #dc3545;
}